<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}
</head>
<body>
    
    <!-- barra lateral -->
    {% include 'sidebar.html' %}
    <div class="contenido">
        {% block content %}{% endblock %}
    </div>
    
    <!-- Contenido -->
     <main>
        <div class="container-fluid">
            <div class="row">

                <!--Titulo-->
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
                    <h2>Horas</h2>
                </div>

                <!--Formulario de horas-->
                <div class="col-md-12 collapse mb-4" id="formHoras">
                    <div class="card">
                        <div class="card-header card-header col-md-12 d-flex justify-content-between align-items-center mb-3">
                                <span>Formulario de horas</span>
                                <button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target="#formHoras" aria-expanded="false" aria-controls="formHoras" aria-label="Close"></button>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                <div class="row mb-3">
                                    <div class="col-md-3 col-sm-12">
                                        <label for="inicio" class="form-label">Hora de inicio</label>
                                        <input id="inicio" name="inicio" type="time" min="07:00" max="14:00" class="form-control">
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <label for="fin" class="form-label">Hora de finalizacion</label>
                                        <input id="fin" name="fin" type="time" min="07:00" max="14:00" class="form-control">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <button type="submit" name="guardar" class="btn btn-success">Guardar</button>
                                    </div>    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Lista de horas --> 
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header">Lista de horas</div>
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th class="text-center"><b>ID</b></th>
                                        <th class="text-center"><b>Hora de inicio</b></th>
                                        <th class="text-center"><b>Hora de finalizacion</b></th>
                                        <th class="text-center"><b>Fecha de modificacion</b></th>
                                        <th class="text-center"><b>Accion</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hora in horas %}
                                        <tr>
                                            <td class="text-center">{{ hora[0] }}</td>
                                            <td class="text-center">{{ hora[1].seconds // 3600 }}:{% set minutos = (hora[1].seconds % 3600) // 60 %}{{ '{:02}'.format(minutos) }}</td>
                                            <td class="text-center">{{ hora[2].seconds // 3600 }}:{% set minutos = (hora[2].seconds % 3600) // 60 %}{{ '{:02}'.format(minutos) }}</td>
                                            <td class="text-center">{{ hora[3].strftime('%d/%m/%Y') }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal"
                                                    data-id="{{ hora[0] }}" data-inicio="{{ '%02d:%02d' % (hora[1].seconds // 3600, (hora[1].seconds % 3600) // 60) }}" data-fin="{{ '%02d:%02d' % (hora[2].seconds // 3600, (hora[2].seconds % 3600) // 60) }}">
                                                    <ion-icon name="create"></ion-icon> Modificar
                                                </button>
                                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal"
                                                    data-id="{{ hora[0] }}" data-inicio="{{ '%02d:%02d' % (hora[1].seconds // 3600, (hora[1].seconds % 3600) // 60) }}" data-fin="{{ '%02d:%02d' % (hora[2].seconds // 3600, (hora[2].seconds % 3600) // 60) }}">
                                                    <ion-icon name="trash"></ion-icon> Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
                    <div></div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#formHoras" aria-expanded="false" aria-controls="formHoras">
                        <ion-icon name="add-circle"></ion-icon> Añadir horario
                    </button>
                </div>

            </div>
        </div>
        {% include 'message.html' %}
     </main>

     <!-- Boton menu oculto -->
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <!-- Modal editar -->
    <div class="modal-xl modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modificar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label for="id" class="form-label">ID</label>
                                <input id="id" name="id" type="text" class="form-control" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="inicio" class="form-label">Hora de inicio</label>
                                <input id="inicio" name="inicio" type="time" min="07:00" max="14:00" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="fin" class="form-label">Hora de finalizacion</label>
                                <input id="fin" name="fin" type="time" min="07:00" max="14:00" class="form-control">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="submit" name="modificar" class="btn btn-warning">Modificar</button>
                            </div>    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal eliminar -->
    <div class="modal-xl modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarModalLabel">Eliminar</h5>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label for="id" class="form-label">ID</label>
                                <input id="id" name="id" type="text" class="form-control" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="inicio" class="form-label">Hora de inicio</label>
                                <input id="inicio" name="inicio" type="time" min="07:00" max="14:00" class="form-control" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="fin" class="form-label">Hora de finalizacion</label>
                                <input id="fin" name="fin" type="time" min="07:00" max="14:00" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="submit" name="eliminar" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                            </div>    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>

        var editModal = document.getElementById('editModal');
        editModal.addEventListener('show.bs.modal', function (event) {
            // Botón que activó el modal
            var button = event.relatedTarget;

            // Extraer la información de los atributos data-*
            var id = button.getAttribute('data-id');
            var inicio = button.getAttribute('data-inicio');
            var fin = button.getAttribute('data-fin');

            // Obtener los elementos de los campos en el modal
            var modalId = editModal.querySelector('#id');
            var modalInicio = editModal.querySelector('#inicio');
            var modalFin = editModal.querySelector('#fin');

            // Actualizar el contenido del modal con los valores obtenidos
            modalId.value = id;
            modalInicio.value = inicio;
            modalFin.value = fin;
        });

        // Capturar el evento cuando se abre el modal de eliminar
        var eliminarModal = document.getElementById('eliminarModal');
        eliminarModal.addEventListener('show.bs.modal', function (event) {
            // Botón que disparó el modal
            var button = event.relatedTarget;
            
            // Extraer la información de los atributos data-*
            var id = button.getAttribute('data-id');
            var inicio = button.getAttribute('data-inicio');
            var fin = button.getAttribute('data-fin');

            // Obtener los elementos de los campos en el modal
            var modalId = eliminarModal.querySelector('#id');
            var modalInicio = eliminarModal.querySelector('#inicio');
            var modalFin = eliminarModal.querySelector('#fin');

            // Actualizar el contenido del modal con los valores obtenidos
            modalId.value = id;
            modalInicio.value = inicio;
            modalFin.value = fin;
        });

        // Función que se ejecuta cuando el DOM está completamente cargado
        document.addEventListener('DOMContentLoaded', function () {
            // Seleccionar todos los formularios de la página
            var forms = document.querySelectorAll('form');
            
            // Iterar sobre cada formulario y reiniciarlo
            forms.forEach(function(form) {
                form.reset();
            });
        });
    </script>
</body>
</html>