<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base.html' %}
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Inicio de sesión</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="mb-3">
                                <label for="username" class="form-label">Usuario</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="ingresar" class="btn btn-dark">Ingresar</button>
                            </div>
                        </form>
                        {% include 'message.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
