<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}
</head>
<body>
    <!-- barra lateral -->
    {% include 'sidebar.html' %}
    <div class="contenido">
        {% block content %}{% endblock %}
    </div>

    <!-- Container principal -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
                    <h2 class="text-light">Materias</h2>
                    <button id="btnAddMateria" class="btn btn-light mb-3">
                        <ion-icon name="add-circle"></ion-icon> Agregar Materia 
                    </button>
                </div>

                <!-- Formulario Materias -->
                <div id="formContainer" class="card text-bg-dark d-none mb-4 col-md-12">
                    <div class="card-body">
                        <form id="materiaForm">
                            <div class="row mb-3">
                                <input type="hidden" id="materiaId" value="">
                                <div class="col-md-6 col-sm-12">
                                    <label for="MateriaNombre">Nombre</label>
                                    <input type="text" class="form-control" id="MateriaNombre" required>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
                                <div></div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <button type="button" class="btn btn-secondary ml-2" id="btnCancel">Cancelar</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>         
                </div>

                
                <!-- Lista de Materias -->
                <div class="table-responsive">
                    <table class=" align-middle text-center table table-dark table-striped d-none" id="materiasTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Fecha de modificacion</th>
                                <th>Status</th>
                                <th>Personal que modifico</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider" id="materiasTableBody"></tbody>                    
                    </table>             
                </div>
                <br>
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
                    <div></div>
                    
                </div>
            </div>
        </div>
        {% include 'message.html' %}
    </main>

    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materias.js') }}"></script>    
    
</body>
</html>