<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}    
</head>
<body>
    <!-- barra lateral -->
    {% include 'sidebar.html' %}
    <div class="contenido">
        {% block content %}{% endblock %}
    </div>
    
    <main class="contenido-principal">
        
        <div class="cita-contenedor">
            <blockquote class="cita">
                Una base de datos bien diseñada no solo almacena datos; también expresa las relaciones entre esos datos de manera eficiente.
            </blockquote>
            <footer class="autor-cita">— Edgar F. Codd</footer>
        </div>
        {% include 'message.html' %}
    </main>
    
     <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

     <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>