<!-- sidebar.html -->
<div class="barra-lateral">
    <div>
        <div class="nombre-pagina">
            <ion-icon id="box" name="cube"></ion-icon>
            <span>CRUD</span>
        </div>
    </div>

    <nav class="navegacion">
        <ul class="navbar-nav">
            <li>
                <a href="{{ url_for('principal') }}" class="{% if active_page == 'inicio' %}activo{% endif %}">
                    <ion-icon name="home"></ion-icon>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="#" class="{% if active_page == 'alumno' %}activo{% endif %}">
                    <ion-icon name="person-add"></ion-icon>
                    <span>Alumno</span>
                </a>
            </li>
            <li>
                <a href="#" class="{% if active_page == 'asignacion' %}activo{% endif %}">
                    <ion-icon name="clipboard"></ion-icon>
                    <span>Asignación de materia</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('asistencias') }}" class="{% if active_page == 'asistencia' %}activo{% endif %}">
                    <ion-icon name="checkbox"></ion-icon>
                    <span>Asistencia</span>
                </a>
            </li>
           <!-- <li>
                <a href="#" class="{% if active_page == 'calificaciones' %}activo{% endif %}">
                    <ion-icon name="podium"></ion-icon>
                    <span>Calificaciones</span>
                </a>
            </li>-->
            <li>
                <a href="{{ url_for('edificios') }}" class="{% if active_page == 'edificios' %}activo{% endif %}">
                    <ion-icon name="business"></ion-icon>
                    <span>Edificios</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('grupos') }}" class="{% if active_page == 'grupo' %}activo{% endif %}">
                    <ion-icon name="people"></ion-icon>
                    <span>Grupo</span>
                </a>
            </li>
            <!--<li>
                <a href="#" class="{% if active_page == 'horario' %}activo{% endif %}">
                    <ion-icon name="calendar"></ion-icon>
                    <span>Horario</span>
                </a>
            </li>-->
            <li>
                <a href="{{ url_for('materias') }}" class="{% if active_page == 'materias' %}activo{% endif %}">
                    <ion-icon name="book"></ion-icon>
                    <span>Materias</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('reportes') }}" class="{% if active_page == 'reporte' %}activo{% endif %}">
                    <ion-icon name="receipt"></ion-icon>
                    <span>Reporte</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('salones') }}" class="{% if active_page == 'salon' %}activo{% endif %}">
                    <ion-icon name="desktop"></ion-icon>
                    <span>Salón</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="linea"></div>

    <div>
        <div class="usuario">
            <div class="info-usuario">
                <div class="nombre-email">
                    <span class="nombre"><b>Usuario</b></span>
                </div>
                <a href="/" class="boton">
                    <ion-icon name="person"></ion-icon>
                    <span>Cerrar Sesion</span>
                </a>
            </div>
        </div>
    </div>
</div>
